@import (reference) '~stremio/common/screen-sizes.less';
.link {
    position: relative;
    display: flex;
    align-items: center;
    height: 2rem;

    .label {
        color: var(--primary-accent-color);
    }

    &:hover {
        .label {
            text-decoration: underline;
        }
    }
}
& when (@webos = true) {
    .link .label {
        font-size: 22px;
        line-height: 1.3;
    }
}
