@import (reference) '~stremio/common/screen-sizes.less';

.shortcuts-group {
    flex: 1 1 0;
    position: relative;
    width: 35rem;
    display: flex;
    flex-direction: column;
    .tv-flex-gap(2rem, 2rem, column);
    overflow: visible;

    .title {
        flex: none;
        display: flex;
        font-size: 1rem;
        font-weight: 400;
        color: var(--primary-foreground-color);
        opacity: 0.6;
    }

    .shortcuts {
        position: relative;
        display: flex;
        flex-direction: column;
        .tv-flex-gap(2rem, 2rem, column);
        overflow: visible;

        .shortcut {
            position: relative;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            .tv-flex-gap(2rem, 2rem, row);
            overflow: visible;

            .label {
                position: relative;
                font-size: 1rem;
                color: var(--primary-foreground-color);
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}
