.fixture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 3rem;
    overflow: auto;
    background: #171524;
    color: #fff;

    h1 { font-size: 2rem; margin-bottom: 2rem; }
}

.controls {
    width: 60%;
    section { margin-bottom: 1.5rem; }
}

.button, .text {
    display: inline-block;
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    background: #30294a;
    color: #fff;
}

.poster {
    position: absolute;
    top: 8rem;
    right: 5rem;
    width: 20rem;
}

.text { width: 20rem; }
