@import (reference) '~stremio/common/screen-sizes.less';

.combos {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    .tv-flex-gap-wrap(1rem, 0);
    justify-content: end;
    overflow: visible;

    .combo {
        position: relative;
        display: flex;
        overflow: visible;

        .separator {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.5rem;
            font-size: 1rem;
            color: var(--primary-foreground-color);
            opacity: 0.6;
        }
    }
}
